/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding: 20px; */
    background-color: #242476;
    /* height: 100vh; */
    overflow-y: auto;
}

/* Logo */
.logo-container {
    margin-bottom: 30px;
    WIDTH: 100%;
}

.logo {
    width: 100%;
    height: auto;
}

/* Search Bar */
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.search-bar {
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 600px;
    margin-right: 10px;
    margin-left: 80px;
}

.clear-btn {
    padding: 17px 60px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #5353a5;
    color: white;
    transition: background-color 0.3s;
}

.clear-btn:hover {
    background-color: #42428c;
}

/* Cards Container */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* Card */
.card {
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card-icon {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #5353a5;
    margin: 0;
}
